
html {
    height: 100%;    
    background: linear-gradient(to top, #ffffff 0%, #0099ff 30%)
}

body {
    font-family: montserrat, arial, verdana;
    margin: 0px;
}

/*form styles*/
#msform {
    max-height: 700px;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    font-size: 0.9em;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform select{
    background: white;
    border: 1px solid #ccc;   
    padding: 20px 30px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-family: montserrat;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 0.9em;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: #015CAB;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #0F9FFF;
}
/*headings*/
.fs-title {
    font-size: 1.1em;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 0.9em;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
    width: 25%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 0.7em;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #015CAB;
    color: white;
}

.sign_font {
    font-size: 0.7em;
}
.output_img {
    width: 100%;
    min-width: 95px !important;
    max-width: 155px !important;
}
.table_td_chevron_left_padding {
    padding-left: 10px;
}
.output_img_footer {
    max-width: 100%;
    max-width: 30px !important;
    min-width: 23px !important;
}
.output_img_footer_qnx {
    max-width: 100%;
    max-width: 104px !important;
}
.campaign_img{
    max-width:100%;
    max-width: 630px !important;
}
@media (max-width: 767px) {
    .output_img {
        width: 80%;
    }
    .sign_font_header {
        font-size: 0.7em;
    }
    .sign_font {
        font-size: 0.6em;
    }
    .table_td_chevron_left_padding {
        padding-left: 5px;
    }
    .output_img_footer {
        width: 7%;
    }
    .output_img_footer_qnx {
        width: 25%;
    }
    .campaign_img{
        width: 80%;
    }



